@font-face {
    font-family: RobotoSlab-Bold;
    src: url(fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(fonts/Lato-Bold.ttf);
}

body {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    color: #555;
    /*    background-color: #faf9fa;*/
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lusitana-Regular, serif;
    line-height: 1.2em;
}

h1.tagline{
    font-family: Lato, sans-serif;
    font-size: 59px;
    margin-top:0px;
    margin-botton:1px;
}

.white,
.white a {
    color: #fff !important;
}

.my-lg-gutter {
    clear: both;
    overflow: hidden;
    position: relative;
    height: 20px;
    width: 100%;
    opacity: 0;
}

.my-md-gutter {
    clear: both;
    overflow: hidden;
    position: relative;
    height: 15px;
    width: 100%;
    opacity: 0;
}

.my-sm-gutter {
    clear: both;
    overflow: hidden;
    position: relative;
    height: 10px;
    width: 100%;
    opacity: 0;
}

.my-xs-gutter {
    clear: both;
    overflow: hidden;
    position: relative;
    height: 5px;
    width: 100%;
    opacity: 0;
}

.my-clear-fix {
    clear: both;
}

.align-center {
    margin-right: auto;
    margin-left: auto;
    display: table;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.btn {
    height: 60px;
    padding: 0;
    font-size: 30px;
}

.btn-lg {
    height: 44px !important;
    padding: 10px 12px !important;
}

.btn-100-percent {
    min-width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #1a2836;
    border-color: #1a2836;
}

.btn-info {
    color: #FFFFFF;
    background-color: #1d929d;
    border-color: #1d929d;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active:hover,
.btn-info.active:hover,
.open>.dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open>.dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open>.dropdown-toggle.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #FFFFFF;
    background-color: #09717b;
    border-color: #09717b;
}

.btn-ghost {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost.focus,
.btn-ghost:active:hover,
.btn-ghost.active:hover,
.open>.dropdown-toggle.btn-ghost:hover,
.btn-ghost:active:focus,
.btn-ghost.active:focus,
.open>.dropdown-toggle.btn-ghost:focus,
.btn-ghost:active.focus,
.btn-ghost.active.focus,
.open>.dropdown-toggle.btn-ghost.focus {
    color: #fff;
    background-color: #1D929D;
    border-color: #1D929D;
}

.error-signal {
    border: 2px solid #D94343;
}

.form-control {
    height: 60px;
    padding: 8px 12px;
    font-size: 16px;
}

.form-control:focus {
    border-width: 2px;
    border-color: #1d929d;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

label {
    font-size: 16px;
}


/*=====================
        Headings
=====================*/

.my-heading {
    text-align: center;
    border-bottom: 2px solid transparent;
    display: table;
    margin: 0px auto 40px;
    padding-bottom: 6px;
}

.my-heading-blue {
    border-bottom: 2px solid #2c3e50;
    color: #2c3e50;
}

.my-heading-light-blue {
    border-bottom: 2px solid #1D929D;
    color: #1D929D;
}

.my-heading-white {
    border-bottom: 2px solid #fff;
    color: #fff;
}

/*=====================
       Row 1
=====================*/

.row1 {
    padding: 100px 0;
    background-color: #2c3e50;
    min-height: 100%;
}

/*=====================
    Media Queries
=====================*/
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    h1.tagline{
        font-size: 20px !important;
    }
}