@font-face {
    font-family: RobotoSlab-Bold;
    src: url(../fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(../fonts/Lato-Bold.ttf);
}

body {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    color: #555;
    /*    background-color: #faf9fa;*/
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: RobotoSlab-Bold, serif;
    line-height: 1.2em;
}

h1.tagline{
    font-family: Lato, sans-serif;
    font-size: 59px;
    margin-top:0px;
    margin-botton:1px;
}

h2.subline{
    font-family: Lato, sans-serif;
    font-size: 30px;
    margin-top:0px;
    margin-botton:1px;
}

p {
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.4em;
}

.font-18 {
    font-size: 18px;
}

a {
    color: #2c3e50;
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in;
}

a:hover,
a:focus {
    color: #1d929d;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in;
}

.white,
.white a {
    color: #fff !important;
}

.blue,
.blue a {
    color: #2c3e50 !important;
}

.green,
.green a {
    color: #1d929d !important;
}

.gray,
.gray a {
    color: #666 !important;
}

.lightgray,
.lightgray a {
    color: #999 !important;
}

.my-lg-gutter {
    clear: both;
    overflow: hidden;
    position: relative;
    height: 20px;
    width: 100%;
    opacity: 0;
}

.my-md-gutter {
    clear: both;
    overflow: hidden;
    position: relative;
    height: 15px;
    width: 100%;
    opacity: 0;
}

.my-sm-gutter {
    clear: both;
    overflow: hidden;
    position: relative;
    height: 10px;
    width: 100%;
    opacity: 0;
}

.my-xs-gutter {
    clear: both;
    overflow: hidden;
    position: relative;
    height: 5px;
    width: 100%;
    opacity: 0;
}

.my-clear-fix {
    clear: both;
}

.disabled{
    opacity:0.5 !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-default {
    border-color:  #A7AFB7;
}

.btn {
    height: 40px;
    padding: 8px 12px;
    font-size: 15px;
}

.btn-lg {
    height: 44px !important;
    padding: 10px 12px !important;
}

.btn-100-px {
    min-width: 100px;
}

.btn-100-percent {
    min-width: 100%;
}

.btn-lg,
.btn-group-lg>.btn {
    font-size: 16px;
}

.btn-default {
    color: #555;
    background-color: #fff;
    border-color: #A7AFB7;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus {
    color: #555;
    background-color: #ddd;
    border-color: #A7AFB7;
}

.btn-primary {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #1a2836;
    border-color: #1a2836;
}

.btn-info {
    color: #FFFFFF;
    background-color: #1D929D;
    border-color: #1D929D;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active:hover,
.btn-info.active:hover,
.open>.dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open>.dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open>.dropdown-toggle.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #FFFFFF;
    background-color: #0c737c;
    border-color: #0c737c;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #bbb;
    border-color: #aaa;
}

.btn-ghost {
    color: #666;
    background-color: transparent;
    border-color: #999;
}

.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost.focus,
.btn-ghost:active:hover,
.btn-ghost.active:hover,
.open>.dropdown-toggle.btn-ghost:hover,
.btn-ghost:active:focus,
.btn-ghost.active:focus,
.open>.dropdown-toggle.btn-ghost:focus,
.btn-ghost:active.focus,
.btn-ghost.active.focus,
.open>.dropdown-toggle.btn-ghost.focus {
    color: #fff;
    background-color: #777;
    border-color: #777;
}

.error-signal {
    border: 2px solid #D94343 !important;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #A7AFB7;
}

.form-control:focus {
    border-width: 2px;
    border-color: #1d929d;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table {
    margin-bottom: 10px;
}

label {
    font-size: 14px;
}

.label-number{
    font-size: 14px;
    font-weight: bold;
    color: #1d929d;
}

.well-white{
    background-color: #fff;
}
/*=====================
        Navigation
=====================*/

.navbar {
    background-color: #FFFFFF;
    height: 70px;
    z-index: 99;
    border: 0;
    border-bottom: 1px solid #D6D6D6;
}

.navbar-nav>li>a {
    font-size: 13px;
    font-weight: bold;
    color: #2C3E50;
}

.navbar-toggle {
    padding: 19px 10px 19px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    background-color: #fff;
}

.navbar-collapse {
    background-color: #2c3e50;
}

.logo-nav {
    margin: 0;
    height: 70px;
    padding: 24px 10px 24px 8px;
    background-color: transparent;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav li .active {
    background-color: rgba(44,62,80,0.1);
}

.dropdown-menu {
    background-color: #2C3E50;
}

.dropdown-menu>li>a {
    color: #FFF;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #337ab7;
}


/*=====================
    Data Display
=====================*/

.data-table .table {
    background-color: #fff;
}

.data-table .table th {
    font-size: 14px;
}

.data-table .table>caption+thead>tr:first-child>th,
.data-table .table>colgroup+thead>tr:first-child>th,
.data-table .table>thead:first-child>tr:first-child>th,
.data-table .table>caption+thead>tr:first-child>td,
.data-table .table>colgroup+thead>tr:first-child>td,
.data-table .table>thead:first-child>tr:first-child>td {
    border-top: 1px solid #A7AFB7;
    background-color: #f5f5f5;
    border-bottom: 1px solid #A7AFB7;
    color: #2C3E50;
}

.data-table .table-bordered>thead>tr>th,
.data-table .table-bordered>thead>tr>td {
    border-bottom-width: 1px;
}

.data-table .table-bordered>thead>tr>th,
.data-table .table-bordered>tbody>tr>th,
.data-table .table-bordered>tfoot>tr>th,
.data-table .table-bordered>thead>tr>td,
.data-table .table-bordered>tbody>tr>td,
.data-table .table-bordered>tfoot>tr>td {
    border: 1px solid #A7AFB7;
}

.data-table .media-heading {
    margin-bottom: 0;
}

.data-table i {
    margin: 0 5px 0 12px;
}


/*=====================
      Pagination
=====================*/

.my-pagination ul.pagination li.details {
    padding: 7px 10px 7px 10px;
    font-size: 20px;
    color: #999;
}

.my-pagination {
    text-align: center;
}

.my-pagination ul.pagination li.dot {
    padding: 3px 6px;
}

.my-pagination ul.pagination li {
    float: left;
    margin: 0px;
    padding: 0px;
    padding-bottom: 1px;
}

.my-pagination ul.pagination li:first-child {
    margin-left: 0px;
}

.my-pagination ul.pagination li a img {
    border: none;
}

.my-pagination ul.pagination li a {
    color: #777;
    background-color: #fff;
    border: 1px solid #999;
    text-decoration: none;
    border-radius: 0px;
}

.my-pagination ul.pagination li a:hover,
.my-pagination ul.pagination li a.current {
    border: 1px solid #999;
    color: #fff;
    font-weight: bold;
    background-color: #777;
}


/*=====================
        Row 1
=====================*/

.main-container {
    padding: 50px 0 0;
}

.row1 {
    padding: 0 0 50px;
}

.main-heading {
    margin-top: 0;
    font-size: 24px;
    color: #2C3E50;
}


/*=====================
    Configure Promotion
=====================*/

.btn-group,
.btn-group-vertical {
    width: 100%;
}

.btn-group .btn,
.btn-group-vertical .btn {
    padding: 12px;
    color: #555;
    font-size: 15px;
    background-color: #fff;
}

.btn-group>.btn:hover,
.btn-group-vertical>.btn:hover,
.btn-group>.btn:focus,
.btn-group-vertical>.btn:focus {
    background-color: #eee;
}

.btn-group>.btn:active,
.btn-group-vertical>.btn:active,
.btn-group>.btn.active,
.btn-group-vertical>.btn.active {
    background-color: #ddd;
}

.preview-modal .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: 0;
}

.preview-modal .preview-left,
.preview-modal .preview-right {
    background-color: #fff;
    border-radius: 2px;
    padding: 15px;
}

.preview-modal .preview-left .media{
    border-bottom: 1px solid #ddd;
    padding-bottom: 0px;
    margin-top: 15px;
}
.preview-modal .preview-left .media:last-child{
    border-bottom: 0;
}
.preview-modal .preview-left .media-body p{
    margin-bottom: 0;
}
.preview-modal .preview-left .media-object{
    width: 40px;
    border: 1px solid #c9c9c9;
}

/*=====================
        Plans
=====================*/

.internal-row {
    background-color: #f3f3f3;
    padding: 40px 0 100px;
}

.plans-panel .panel-heading {
    background-color: #2c3e50;
    color: #fff;
    border-bottom-color: #1d929d;
}

.plans-panel {
    color: #2c3e50;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.plans-panel p {
    line-height: 1.7em;
}

.plans .panel {
    border: 1px solid #A7AFB7;
    background-color: #fff;
}

.plans .panel-heading {
    background-color: #2c3e50;
    padding: 20px;
    color: #21939e;
    border: none;
}

.plans .panel-title {
    font-size: 24px;
    text-align: center;
}

.plans .panel-body {
    text-align: center;
}

.plans .panel-body h2 {
    color: #fff;
    background-color: #18bc9c;
    margin: -15px;
    margin-bottom: 15px;
    padding: 15px 15px;
    text-align: center;
    text-transform: none;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 80px;
    font-weight: normal;
}

.plans .panel-body sup{
    font-size: 28px;
    top: -1.3em;
}

.plans-desc {
    /*min-height: 400px;*/
}

.plans-faq .panel {
    background-color: #fff;
    border: 1px solid #A7AFB7;
}

.plans-faq h4 {
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #1D929D;
}
/*=====================
      Activity
=====================*/

.activity-table .my-checkbox label span {
    margin: 0 !important;
}


/*=====================
    Media Queries
=====================*/

@media (min-width: 768px) {
    .pull-right-sm {
        float: right !important;
    }
    .modal-dialog {
        width: 80% !important;
    }
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        background-color: transparent;
    }
    .logo-nav {
        margin-left: 0;
        background-color: #2c3e50;
    }
    .navbar-collapse {
        background-color: transparent;
    }
}


/* Medium devices */

@media(min-width:992px) {
    .pull-right-md {
        float: right !important;
    }
}

@media(min-width:1200px) {
    .pull-right-lg {
        float: right !important;
    }
}

@media (max-width: 767px) {
    .form-control {
        margin-bottom: 10px;
    }
    .pull-left-xs{
        float: right !important;
    }
    .navbar {
        background-color: #2c3e50;
    }
    .navbar-nav>li>a {
        color: #FFF;
    }
    .nav>li>a:hover,
    .nav>li>a:focus,
    .nav li .active {
        background-color: rgba(255, 255, 255, 0.2);
    }
}


/*=====================
        check box
=====================*/

.my-checkbox input[type="checkbox"] {
    position: absolute;
    /* Match the image dimensions */
    width: 22px;
    height: 22px;
    /* Reset anything that could peek out or interfere with dimensions */
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
}

.my-checkbox label {
    color: #867b8a;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.my-checkbox label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px 6px 0 0;
    vertical-align: middle;
    background: url(../img/buttons.png) 0px top no-repeat;
    cursor: pointer;
}

.my-checkbox input[type="checkbox"]:checked + label span {
    background: url(../img/buttons.png) -21px top no-repeat;
}


.my-small-checkbox input[type="checkbox"] {
    position: absolute;
    /* Match the image dimensions */
    width: 17px;
    height: 17px;
    /* Reset anything that could peek out or interfere with dimensions */
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
}

.my-small-checkbox label {
    color: #867b8a;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.my-small-checkbox label span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: -1px 6px 0 0;
    vertical-align: middle;
    background: url(../img/small-buttons.png) 0px top no-repeat;
    cursor: pointer;
}

.my-small-checkbox input[type="checkbox"]:checked + label span {
    background: url(../img/small-buttons.png) -16px top no-repeat;
}




/*=====================
        Radio Button
=====================*/

.my-radio-btn input[type="radio"] {
    display: none;
}

.my-radio-btn input[type="radio"] + label {
    color: #484848;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-right: 15px;
}

.my-radio-btn input[type="radio"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px 6px 0 0;
    vertical-align: middle;
    background: url(../img/buttons.png) 0px -21px no-repeat;
    cursor: pointer;
}

.my-radio-btn input[type="radio"]:checked + label span {
    background: url(../img/buttons.png) -21px -21px no-repeat;
}
